[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/new_inventory_structure_17-10-24/new_project_structure
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/new_inventory_structure_17-10-24/new_project_structure.sock new_project_structure.wsgi.application

[Install]
WantedBy=multi-user.target
