/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: left;
  padding: 20px;
  margin: 0;
}

h1 {
  margin: 0 0 10px;
  font-size: 2rem;
  padding: 20px 0;
  background-color: #f8f9fa;
}

/* Navbar Styles */
nav {
  width: 100%;
  background-color: #f58720;
  padding: 10px 0;
  display: flex;
  justify-content: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  padding: 10px 20px;
  background-color: #f58720;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #eea561;
}

nav ul li a.active {
  background-color: #cb6c13;
}

/* Main Content */
main {
  padding: 20px;
  margin-top: 10px;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f58720;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Modal Overlay */
.modal-overlay,
.vm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Container */
.modal,
.vm-modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* Modal Header */
.modal h3,
.vm-modal h3 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

/* Modal Input Fields */
.modal input[type="text"],
.modal input[type="number"],
.modal input[type="file"],
.modal select,
.vm-modal input[type="text"],
.vm-modal input[type="number"],
.vm-modal input[type="date"],
.vm-modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/* Button Styles */
.modal button,
.vm-modal button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:first-of-type,
.vm-modal button:first-of-type {
  background-color: #4caf50;
  color: white;
}

.modal button:last-of-type,
.vm-modal button:last-of-type {
  background-color: #f44336;
  color: white;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Table Inside Modal */
.modal table,
.vm-modal table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.modal table th,
.modal table td,
.vm-modal table th,
.vm-modal table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.modal table th,
.vm-modal table th {
  background-color: #f58720;
  color: white;
  font-weight: bold;
}

.modal table tbody tr:hover,
.vm-modal table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup table {
  width: 100%;
}

.popup button {
  margin-top: 10px;
}
