/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: left;
  padding: 20px;
  margin: 0;
}

h1 {
  margin: 0 0 0px;
  font-size: 2rem;
  padding: 0px 0;
  background-color: #ffffff;
}

/* Navbar Styles */
nav {
  width: 100%;
  background-color: #f58720;
  padding: 10px 0;
  display: flex;
  justify-content: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  padding: 10px 20px;
  background-color: #f58720;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

nav ul li a:hover {
  background-color: #eea561;
}

nav ul li a.active {
  background-color: #cb6c13;
}

/* Disabled tab styles */
nav ul li.disabled {
  opacity: 0;
  pointer-events: none; /* Prevent clicking on the disabled tab */
  cursor: not-allowed; /* Show a not-allowed cursor */
}

nav ul li.disabled a {
  background-color: #f0f0f0; /* Light grey background */
  color: #b0b0b0; /* Soft grey text */
  border: 1px solid #d0d0d0; /* Add a subtle border for better visibility */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft inset shadow for depth */
}

nav ul li.disabled a:hover {
  background-color: #f0f0f0; /* Maintain the same color on hover for disabled tabs */
}

/* Container for the entire login box */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: #f4f4f4;
}

/* Logo container on the left */
.logo-container {
  margin-right: 20px;
}

.logo-container img {
  width: 400px; /* Adjust the size of the logo */
  height: auto;
  object-fit: contain;
}

/* Centered login box */
.login-box {
  width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
  text-align: left;
  margin-right: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Login button styling */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #f58720;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #cb6c13;
}

/* Main Content */
main {
  padding: 20px;
  margin-top: 10px;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f58720;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Modal Overlay */
.modal-overlay,
.vm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Container */
.modal,
.vm-modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* Modal Header */
.modal h3,
.vm-modal h3 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

/* Modal Input Fields */
.modal input[type="text"],
.modal input[type="number"],
.modal input[type="file"],
.modal select,
.vm-modal input[type="text"],
.vm-modal input[type="number"],
.vm-modal input[type="date"],
.vm-modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/* Button Styles */
.modal button,
.vm-modal button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:first-of-type,
.vm-modal button:first-of-type {
  background-color: #4caf50;
  color: white;
}

.modal button:last-of-type,
.vm-modal button:last-of-type {
  background-color: #f44336;
  color: white;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Table Inside Modal */
.modal table,
.vm-modal table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.modal table th,
.modal table td,
.vm-modal table th,
.vm-modal table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.modal table th,
.vm-modal table th {
  background-color: #f58720;
  color: white;
  font-weight: bold;
}

.modal table tbody tr:hover,
.vm-modal table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Popup Styles */
/* 
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%; /* Adjust width as needed */ /*
  max-height: 80%; /* Adjust max-height as needed */ /*
  overflow: hidden;
} */

/* .popup table {
  width: 100%;
  border-collapse: collapse;
} */
/* 
.popup tbody {
  display: block;
  max-height: 300px; /* Adjust the height as needed */ /*
  overflow-y: auto;
} */
/* 
.popup button {
  margin-top: 10px;
} */

/* Popup Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%; /* Adjust width as needed */
  max-height: 80%; /* Adjust max-height as needed */
  overflow: hidden;
}

.popup table {
  width: 100%;
  border-collapse: collapse;
}

.popup thead {
  display: table; /* Keep header aligned with body */
  width: 100%;
  table-layout: fixed; /* Ensure columns align */
}

.popup tbody {
  display: block;
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.popup th,
.popup td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.popup th {
  background-color: #f9f9f9; /* Optional: Highlight headers */
  position: sticky; /* Stick headers during scroll */
  top: 0; /* Position headers at the top */
  z-index: 1;
}

.popup button {
  margin-top: 10px;
}

.popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* .tag {
  background-color: #ff9800;
  color: white;
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 4px;
  display: inline-block;
} */

/* .tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  background-color: #8ddc55;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
}

.tag button {
  margin-left: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
} */

.tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f58720;
  color: #f1f1f1;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
}

.tag button {
  margin-left: 5px;
  background: red; /* Bubble background color */
  color: white; /* Text color for the "X" */
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  width: 12px; /* Make it a circle */
  height: 12px; /* Make it a circle */
  border-radius: 50%; /* Ensure the bubble is round */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.tag button:hover {
  background: darkred; /* Change color on hover */
}

.search-bar-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0px;
}

.search-bar {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.search-bar:focus {
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
}

.search-icon i {
  pointer-events: none; /* Prevent clicking on the icon */
}

.assign-meta-tags-container {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.assign-meta-tags-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-tag-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #14bf36;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.add-tag-button:hover {
  background-color: #4bdc3d;
}

.feedback-message {
  margin-top: 15px;
  text-align: center;
  color: #007bff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.addingtags {
  display: flex;
  justify-content: space-between;
}

.metatag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f58720;
  color: #f1f1f1;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
